.header-nav {
    color: white;

    animation: enhance-header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
}

@keyframes enhance-header {
    to {
        background-color: rgb(0, 0, 0, .45);
        backdrop-filter: blur(20px);
        transform: scale(.85);
        border-radius: 20px;
    }
}